/************************** Menu mobile ************************/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    font-family: 'Roboto';
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background-attachment: fixed;
    
}

.navbar {
    font-size: 18px;
    background-color: #375274;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo img{
    position: relative;
    width: 10%;
    height: auto;
    top: 7px;
    left: 5%;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}
body h1,h2{
    color: white;
}


/************************** Menu desktop ********************************/

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 20px;
    }

    .logo img {
        width: 30%;
        margin: 0 0 5% 7%;

    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    body h1,h2{
        color: white;
    }

    body h1{
        font-size: 1.5em;
    }
    
}

/********************************Présentation****************************/

.presentation
{
    display: inline-block;
}

#photo-premiere-lunette-observatoire
{
    display: inline-block;
    width: 50%;
    height: 87%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1
{
    font-size: 1em;
    height: 200px;
    background-image: url(../Aurora-Blue-10.6-Server.jpg);
    opacity: 0.5;
    padding-top: 5%;
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-bottom: 5%;
}

p
{
    font-size: 1em;
}

#photo-premiere-lunette-observatoire img
{
width: 100%;
height: auto;
}

.bg-ht
{
    background-color: #856252;
    padding: 2%;
    color: white;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}



/*******************************Présentation desktop****************************/

@media screen and (min-width: 768px) {

.presentation-2
{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    margin-bottom: 2%;
}

#photo-premiere-lunette-observatoire img
{
    width: 100%;
    border-radius: 10px;
}

.bg-ht
{
    background-color: #856252;
    color: white;
}
.presentation{
    width: 50%;
    margin-left: 16%;
}
.b
{
    width: 50%;
    border-left: #3216044d solid 1px;
    margin-top: -1%;
    padding: 2.6%;
    background-color: white;
    color: black;
}
}

/********************************Histoire*******************************************/

h2
{
    font-size: 0.95em;
    text-align: center;
}

.image-histoire img
{
    border-radius: 10px;
    width: 100%;
}

.bg-pr
{
    background-color: #856252;
    padding: 2%;
    border-radius: 10px;
    color: white;
    margin-top: 8%;
    margin-bottom: 20%; 

    
}

.bg-pr2
{
    background-color: #856252;
    padding: 2%;
    border-radius: 10px;
    color: white;
    margin-top: 8%;
}

/********************************Histoire desktop*******************************************/

@media screen and (min-width: 768px) {
    #photo-premiere-lunette-observatoire
    {
        display: inline-block;
        width: 50%;
        height: 87%;
        margin-left: 0;
        margin-top: 0%;
        margin-bottom: 0;
    }
    .histoire
    {
        
        margin-top: 20%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .image-histoire img
{
    
    border-radius: 10px;
}

.bg-pr{
    background-color: #856252;
    padding: 2%;
    border-radius: 10px;
    color: white;
    width: 70%;
    font-size: 1em;
    align-content: center;
    align-items: center;
    margin-left: 14%;
    
}

.bg-pr2{
    background-color: #856252;
    padding: 2%;
    border-radius: 10px;
    color: white;
    width: 70%;
    font-size: 1em;
    align-content: center;
    align-items: center;
    margin-left: 14%;
    margin-top: 8%;
}
.ludr
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.block
{
    display: flex;
    flex-direction: column;
    
}

    
    }


/********************************Membres********************************/

.membres  
{
width: 96%;
margin: 2%;
border-radius: 10px;
}

h1

{
text-align: center;
}




/*********************************Membres desktop**************************/

@media screen and (min-width: 768px)
{
    #membres
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        
    }
    .membres-3
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15%;
    }

    .membres
    {
        width: 100%;
    }

   
    .membres-size
    {
        width: 30%;
        height: 15%;
        text-align: center;
        margin: 0 50px;
    }
    h1
    {
        text-align: center;
    }
    

}







/******************************** Agenda *******************************/

table

{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    width: 100%;

}

td

{

    border: 1px solid black;

}

#agenda
{
    background-color: #856252;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 7%;
    color: white;
    
}

/********************************Agenda desktop*************************/
@media screen and (min-width: 768px)
{
    #agenda
{
    background-color: #856252;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    color: white;
    
}
}
/******************************* Blog **************************/

body {
    font-family: 'Roboto', sans-serif;
    
  }
  
  /* Header/Blog Title */
  
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
 
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

  .fakeimg img {
    width: 100%;
    border-radius: 10px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin: 40px 20px 40px 20px;
    border-radius: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*****************************Blog desktop***********************/
  @media screen and (min-width: 768px){
    h1 {
        font-size: 1em;
    }
    
    .fakeimg {
        display: flex;
        flex-direction: row;
    }

    .fakeimg img {
        width: 50vw;
        height: auto;
      }

      .fakeimg p {
          max-width: 60vw;
          margin-left: 2%;
      }
    .row{

        margin-top: 10%;

      
    }
  }

  /*****************************Contact ***************************/


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5%;
    margin: 10%;
} 

/*****************************Contact desktop***********************/


/*****************************Galerie********************************/

.galerie


{
    width: 96%;
    margin: 2%;
    border-radius: 10px;
 
}
h1
    {
        text-align: center;
        padding-top: 25%;
    }

    .bg-gal
    {
        background-color: #856252;
        padding: 2%;
        border-radius: 10px;
        color: white;
    }

 

/*****************************Galerie desktop********************************/

@media screen and (min-width: 768px)
{
    #thumb
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        
    }
    .galerie-3
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15%;
    }

    .galerie
    {
        width: 100%;
    }

   
    .galerie-size
    {
        width: 30%;
        height: 15%;
        text-align: center;
        margin: 0 50px;
    }
    h1
    {
        text-align: center;
        margin: 0;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-top: 7%;
    }

    .bg-gal
{
    background-color: #856252;
    padding: 2%;
    border-radius: 10px;
    color: white;
}
    

}

/*************************Rejoindre L'association********************/
.bg-rl
    {
        background-color: #856252;
        padding: 2%;
        border-radius: 10px;
        color: white;
        margin-bottom: 5%;
    }

    .rickjarow
    {
        margin-top: 5%;
        text-align: center;
        color: white;
        font-style: italic;
        margin-bottom: 5%;
    }
    
/*************************Rejoindre L'association desktop********************/
@media screen and (min-width: 768px) {
    .bg-rl
    {
        background-color: #856252;
        padding: 2%;
        border-radius: 10px;
        color: white;
    }
    .rejassos
    {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .rickjarow
    {
        margin-top: 5%;
        text-align: center;
        color: white;
        font-style: italic;
    }
    .assosrej
    {
    width: 20%;
    text-align: center;
    }
    }

/***************************Mentions légales**************************/
.bg-ml
{
    background-color: #856252;
    padding: 2%;
    border-radius: 10px;
    color: white;
    margin: 2%;
}
/***************************Mentions légales desktop**********************/
@media screen and (min-width: 768px) {
.bg-ml
{
    background-color: #856252;
    padding: 2%;
    border-radius: 10px;
    color: white;
    margin: 10% 20% 5% 20%;

}
}
/*****************************Footer************************************/

footer {

    
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #375476;
    padding: 20px;
    position: absolute;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    margin-top: 5%;
    

}


.colorfo
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px; 
    text-decoration: none;

}

.main-footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: auto;
    height: 10%; 
    list-style-type: none;
    color:  rgb(255, 255, 255, 0.7);
}

/*****************************Footer desktop************************************/


@media screen and (min-width: 768px){

.main-footer{
    list-style-type: none;
    text-decoration: none;
}


}






  





